/*Main*/
.main img {
    position: relative;
    width: 100%; 
    }
.main h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
}
.main h2 span {
    color: #eefa0a;
    font-size: 70px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: .27em;
}
.main button {
    margin: 350px auto 0px;
    display: block;
    text-align: center;
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #dfea7a;

}


/*Каталог галерей*/
.list h2{
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
}

.gal1{
    display: inline-block;
    margin: 50px 200px 0px 50px;
}
.gal1 h5{
    float: right;
    padding: 0 100px 20px 0;
}
 
.gal2{
    display: inline-block;
    margin: 20px 90px 0px 0px;
}
.gal2 h5{
    float: right;
    padding: 0 100px 20px 0;
}

.gal3{
    display: inline-block;
    margin: 50px 130px 0px 50px;
}
.gal3 h5{
    float: right;
    padding: 0 100px 20px 0;
}

.gal4{
    display: inline-block;
    margin: 20px 50px 0px 0;
}
.gal4 h5{
    float: right;
    padding: 0 100px 20px 0;
}


.gal1 h5{
    text-align: center;
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.gal1 a{
    text-decoration: underline;
    color: #fb9c03;
}
.gal2 h5{
    text-align: center;
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.gal2 a{
    text-decoration: underline;
    color: #fb9c03;
}
.gal3 h5{
    text-align: center;
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.gal3 a{
    text-decoration: underline;
    color: #fb9c03;
}
.gal4 h5{
    text-align: center;
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.gal4 a{
    text-decoration: underline;
    color: #fb9c03;
}
.list .header .footer .feedback .main{
    background-color: #fbf9f8;
}


/*Шапка*/
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.menu {
    flex-grow: 1;
}
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    margin-right: 30px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    padding: 8px 10px;
}
.logo {
    margin-right: 30px;
}
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
}
.menu a,
.menu .active {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: .27em;
}
.menu a {
  color: #000;
  text-decoration: none;
}


/*Feedback*/
.feedback h2{
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
}
.feedback form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;

}
form {

  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 0;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #fb9c03;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account-info textarea {
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #fb9c03;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
}
.account-action .btn {
  background: #eefa0a;
  border: 40;
  color: #000;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 8px 50px;
}
.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: center;
  margin: 10px 0 0 20px;
}


/*Подвал*/
.footer p{
    text-align: center;
}